html,
body {
  width: 100%;
  height: 100%;
}

html {
  display: table;
}

body {
  margin: 0;

  font-family: 'Arial Black', 'Arial', sans-serif;

  cursor: default;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body.transition {
  transition: background-color .2s ease-in-out;
}

body.hide-cursor {
  cursor: none;
}

:-webkit-full-screen #github {
  display: none;
}

:-moz-full-screen #github {
  display: none;
}

:-ms-fullscreen #github {
  display: none;
}

:full-screen #github {
  display: none;
}

:fullscreen #github {
  display: none;
}

#config-form {
  position: absolute;
  bottom: 0;
  left: 0;

  overflow: hidden;

  width: 460px;
  padding: 20px;

  transition: all .2s ease-in-out;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
}

#config-form.furtive {
  left: -430px;
}

#config-form.dark label {
  text-shadow: -1px -1px 0 #fff,
                1px -1px 0 #fff,
               -1px 1px 0 #fff,
                1px 1px 0 #fff;
}

.furtive {
  opacity: .1;
}

#github.furtive {
  opacity: 0;
}

#config-form > div {
  margin-top: 10px;
}

#config-form > div:first-child {
  margin-top: 0;
}

#config-form > div > * {
  display: inline-block;

  vertical-align: middle;
}

label {
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;

  margin-right: 5px;

  text-transform: uppercase;
}

input,
select {
  font-family: 'Arial Black', Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 32px;

  display: inline-block;

  width: 70px;
  padding: 4px 8px;

  text-align: center;
  text-transform: uppercase;

  border: 3px solid #000;
  border-radius: 0;
  background: rgba(255, 255, 255, .4);

  -webkit-appearance: none;
     -moz-appearance: none;
}

select {
  width: 100px;
}

#count {
  font-size: 28px;

  cursor: pointer;

  border: 0;
  background: transparent;

  transition: transform 50ms ease-in;
}

#count.active {
  transform: rotate(-50deg);
}

#count:focus {
  outline: 0;
}

@media only screen and (max-width: 800px) {
  #config-form {
    max-width: 100%;
  }

  label {
    font-size: 20px;
  }

  input,
  select {
    font-size: 14px;
    max-width: 70px;
  }
}
